extends ../../layout/_main
block head
  title 505
  link(rel="stylesheet", href="/styles/error-page.scss")
block main-content
  .error-container
    .error-content
      h1.error-content__title 500
      p.error-content__text Мы уже фиксим
      a.error-content__link(href="/") Назад к чатам