extends ../../layout/_main
include ../../mixins/error-page
append head
  title 505
  link(rel="stylesheet", href="/styles/error-page.scss")
block main-content
  +errorBlock({
    title: `500`,
    text: `Мы уже фиксим`,
    linkText: `Назад к чатам`,
    linkHref: `/`
  })