extends ../../layout/_main
append head
  title 404
  link(rel="stylesheet", href="/styles/error-page.scss")
block main-content
  .error-container
    .error-content
      h1.error-content__title 404
      p.error-content__text Не туда попали
      a.error-content__link(href="/") Назад к чатам