extends layout/_main
append head
  title Главная  
  link(rel="stylesheet", href="styles/main.scss")
block main-content
  .welcome-page
    ul.welcome-page__list
      each item in pageList
        li.welcome-page__item
          a.welcome-page__link(href= `pages` + item.url)=item.name
  .testblock
    .testimg