extends layout/_main
block head
  title Главная
  link(rel="stylesheet", href="./styles/main.scss")
block main-content
  .welcome-page
    h1 Hello Pug 1111!
    ul.welcome-page__list
      each item in pageList
        li.welcome-page__item
          a.welcome-page__link(href= `pages` + item.url)=item.name
