doctype html
html(lang="")
  head
    block head
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap")
      link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet", href="/styles/main.scss")
  body
    main.main-content
        block main-content
            h2 hello from main layout
    block script
      script(src='/js/main.js')